#list-body {
   background-image:linear-gradient(rgba(0, 0, 0, 0.251), rgba(0, 0, 0, 0.484)), url("../EVE_img/02.jpg");
    font-family: "Archivo Black", sans-serif;
    background-size: cover;
    background-position: center;
    font-weight: 700;
}

.container-tabela {
    display: flex;
    justify-content: center;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 6, 8, 0.192);
    font-weight: 700;
}

table {
    align-items: center;
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.829);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
}


th, td {
    border: 1px solid #000000;
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
}
th {
    background-color: #1e293b;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
.header-title {
    background-color: #000000;
    font-size: 18px;
    letter-spacing: 2px;
}
.ano {
    font-weight: bold;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.196);
    color: #0f172a;
}
.mes {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.196);
    color: #334155;
}
.ficticio {
    color: #4c00ff;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 6, 8, 0.192);
}
.real {
    color: #ff0000;
    font-weight: bold;
     text-shadow: 2px 2px 4px rgba(0, 6, 8, 0.192);
}
.lista {
    background: rgba(0, 0, 0, 0.413);
    border: 1px solid rgba(19, 1, 77, 0.3);
    box-shadow: 0 0 10px rgba(17, 0, 95, 0.79);
    color: #ffffffda;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.2s;
}
.lista:hover {
    background-color: #4c4c4c;
    color: #ff0000;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(255, 0, 127, 0.5);
}
.legenda {
    text-align: left;
    font-size: 13px;
    background-color: #000000;
    color: #ffffff;
}