* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(29, 2, 63) ;
}

#menu {
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px 20px;
    background-color: black;
    box-shadow: white 0px 0px 10px;
}

ul {
    list-style: none;
    display: flex;
    align-items: left;
    padding: 2%; 
    
}

li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(248, 240, 225);
}

a:hover {
    color: rgb(255, 3, 79);
    transition: all 0.3s ease;
}

#hm {
    text-decoration: underline;
    margin-top: 40px;
    color: rgb(226, 120, 185);
    text-align: center;
    font-size: 6em;
    cursor: pointer;
}
span {
    color: rgb(255, 3, 79);
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(226, 120, 185);
    text-align: center;
    font-size: 2em;
}

footer {
    box-shadow: white 0px 0px 10px;
    background-color: black;
    color: rgb(248, 240, 225);
    text-align: center;
    padding: 30px;
    bottom: 0;
    width: 100%;
}